.cards{
    width: 1440px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 30px rgba(0, 0, 0, 0.555), 0 2px 40px rgba(0, 0, 0, 0.507);

    .card{
        background-color: #fff;
        border-radius: 5px;
        text-align: center;
        gap: 20px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover{
            transform: translateY(-10px);
            box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        }

        img{
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .card_content{
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 5px;

            h3{
                font-size: 1.5em;
                color: #333;
                font-weight: bold;
            }

            p{
                font-size: 1em;
                color: #666;
                
            }

            .card_btn{
                display: inline-block;
                padding: 10px 20px;
                background-color: #333;
                border: none;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
                transition: background-color 0.3s ease;

                &:hover{
                    background-color: #666;
                }
            }
        }
    }
}