*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Inria Sans';
}

html , body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

li{
    list-style: none;
}