.more{
    width: 800px;
    height: 550px;
    padding: 50px;
    background-color: #dfdfdf;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    &_img{
        width: 100%;
        height: 300px;
        border-radius: 10px;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
        
        &:hover{
            transform: scale(1.1);
            transition: all 0.3s ease-in-out;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        & img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    }

    &_info{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        & h2{
            font-size: 24px;
            font-weight: bold;
            color: #333;
        }

        &_box{
            width: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;

            & p{
                font-size: 18px;
                color: #666;
            }
        }

        &_contein{
            width: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;

            & p{
                font-size: 18px;
                color: #666;
            }

            & img{
                width: 30px;
                height: 30px;
                object-fit: cover;
            }
        }

        &-price{
            font-size: 22px;
            font-weight: bold;
            color: #fff;
        }

        & button{
            width: auto;
            height: auto;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            background-color: #000000;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }
    }
}