.nav{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header{
        width: clamp(300px, 80%, 1200px);
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0px;
        background-color: white;
        padding: 0 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;

        &__title{
            font-size: 1.5rem;
            color: black;

            &:hover{
                background: linear-gradient(90deg, #ff7e5f, #feb47b);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                cursor: pointer;
            }
        }

        &__list{
            display: flex;
            align-items: center;
            gap: 20px;
        }

        &__item{
            font-size: 1rem;
            color: black;
            &:hover{
                text-decoration: underline;
            }
        }

        &__link{
            font-size: 1rem;
            color: black;
        }

        &__box{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__btn{
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            &:hover{
                opacity: 0.8;
            }
        }

        &__btn-signup{
            background-color: black;
            color: white;

            &:hover{
                background-color: white;
                color: black;
            }
        }

        &__btn-login{
            background-color: white;
            color: black;

            &:hover{
                background-color: black;
                color: white;
            }
        }

        &__menu{
            display: none;
            &-text{
                font-size: 1rem;
                color: black;
                margin-right: 10px;
            }
        }
    }

    .intro{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
        padding: 20px;;

        &__title{
            font-size: 3rem;
            color: black;
        }

        &__text{
            font-size: 1.5rem;
            color: black;
        }

        &__btn{
            margin-top: 20px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            background-color: black;
            border: 1px solid black;
            color: white;
            margin-bottom: 20px;
            transition: background-color 0.3s, color 0.3s;

            &:hover{
                background-color: inherit;
                color: black;
                border: 1px solid black;
            }
        }

        &__box{
            width: auto;
            height: 850px;
            margin: 100px auto;
            display: flex;
            position: absolute;
            overflow-x: auto;
            z-index: -1;

            &::-webkit-scrollbar{
                display: none;
            }

            &__loop{
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1em;
                padding-right: 1em;
                animation: spin 30s linear infinite;
            }

            &__cards{
                width: 1230px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 5px;

                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 15px;
                }
            }
        }
        @keyframes spin {
            0% { translate: 70%; }
            100% { translate: -30%; }
        }
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden ! important;
    }
    
    .nav {
        height: auto;
        .header {
            &__list {
                display: none;
            }

            &__menu {
                display: none;
                align-items: center;
                cursor: pointer;
            }
        }

        .intro {
            margin-top: 20%;
            &__title {
                font-size: 2rem;
            }

            &__text {
                font-size: 1rem;
            }
            &__box {
                height: 400px;
                &__cards {
                    width: 300px;
                }
                &__loop {
                    gap: 0.5em;
                }
            }
        }
    }
}